absl-py==2.3.1
altgraph==0.17.4
asgiref==3.9.1
astunparse==1.6.3
attrs==25.4.0
auto-py-to-exe==2.47.0
autobahn==25.10.2
Automat==25.4.16
bottle==0.13.4
bottle-websocket==0.2.9
certifi==2025.8.3
cffi==2.0.0
channels==4.3.2
channels_redis==4.3.0
charset-normalizer==3.4.3
colorama==0.4.6
constantly==23.10.4
crispy-bootstrap5==2025.6
cryptography==46.0.3
daphne==4.2.1
decorator==5.2.1
dj-database-url==3.0.1
Django==6.0.3
django-crispy-forms==2.4
django-extension==0.1.0
django-grappelli==4.0.2
django-jazzmin==3.0.1
django-jet==1.0.8
dnspython==2.8.0
Eel==0.18.2
et_xmlfile==2.0.0
flatbuffers==25.2.10
future==1.0.0
gast==0.6.0
gevent==25.9.1
gevent-websocket==0.10.1
google-pasta==0.2.0
greenlet==3.2.4
grpcio==1.74.0
gunicorn==23.0.0
h5py==3.14.0
hyperlink==21.0.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_resources==6.5.2
incremental==24.7.2
joblib==1.5.1
keras==3.11.2
libclang==18.1.1
lz4==4.4.4
Markdown==3.8.2
markdown-it-py==4.0.0
MarkupSafe==3.0.2
mdurl==0.1.2
ml_dtypes==0.5.3
moviepy==2.2.1
msgpack==1.1.2
mtcnn==1.0.0
mysqlclient==2.2.7
namex==0.1.0
numpy==2.2.6
opencv-python==4.12.0.88
opencv-python-headless==4.12.0.88
openpyxl==3.1.5
opt_einsum==3.4.0
optree==0.17.0
packaging==25.0
pandas==2.3.2
pefile==2023.2.7
pillow==11.3.0
proglog==0.1.12
protobuf==6.32.0
psycopg2-binary==2.9.11
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pygame==2.6.1
Pygments==2.19.2
pyinstaller==6.16.0
pyinstaller-hooks-contrib==2025.9
pymongo==4.15.0
pyOpenSSL==25.3.0
pyparsing==3.2.5
pystray==0.19.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
pywin32-ctypes==0.2.3
qrcode==8.2
redis==7.1.0
requests==2.32.5
rich==14.1.0
ruff==0.13.0
service-identity==24.2.0
setuptools==80.9.0
shelve_cache==0.0.4
six==1.17.0
sqlparse==0.5.3
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorflow==2.20.0
termcolor==3.1.0
tqdm==4.67.1
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.14.1
tzdata==2025.2
urllib3==2.5.0
waitress==3.0.2
Werkzeug==3.1.3
wheel==0.45.1
whitenoise==6.11.0
wrapt==1.17.3
zope.event==6.0
zope.interface==8.0.1
